@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    max-width: 1366px;
    margin-left: 150px;
    margin-right: 150px;
}

/* Navbar section style  */
.nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-logo {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 700;
}
.nav-icons ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}
.nav-icons li{
    margin-right: 20px;
}
.nav-icons li a {
    text-decoration: none;
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 600;
}